<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/shouter.png" class="ladder-img">
    </div>
    <div class="col-md-5 text-justify mt-md-4 about-text">
      <h1 class="mb-5">About Us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat, odio non porta laoreet, sapien nunc egestas ex, sed semper dolor massa vel sapien.</p>
      <p>Morbi odio ante, rhoncus non felis in, molestie auctor sem. Sed sodales pharetra nulla ut porta. Mauris auctor est non dictum auctor. Donec eu hendrerit tortor. Duis non dui tortor. Integer urna eros, malesuada eget elementum ac, porta in elit.</p>
      <p>Phasellus pulvinar metus at erat efficitur, vitae porttitor est consectetur. Nulla mattis in nunc gravida hendrerit. Aliquam mattis, arcu id aliquam ullamcorper, elit nibh fermentum odio, vitae tempor sem nisi bibendum est. Phasellus maximus, nisi quis molestie egestas, elit metus tristique metus, eu porta magna eros vel sapien.</p>
    </div>
  </div>
</div>